*{
    box-sizing: border-box;
}
.blocks{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.c1{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    margin: 20px 10px 10px 10px;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    height: 200px; width: 300px;
}